{% set menu=app(container) %}
{% if menu.items|length>0 and menu.items.first.childs|length>0 %}
    {% for key in menu.items.keys() %}
        {{ event('breadcrumb.before.render.'~key,menu.items.get(key)) }}
    {% endfor %} 
    <li>
        <div class="ddown">
            <div class="ddown__init ddown__init--white">
                <a href="#" title="{{ menu.items.first().title }}">{{ menu.items.first().title }}</a>
            </div>
            <div class="ddown__content">
                <div class="ddown__arrow"></div>
                <ul class="ddown__menu">
                    {% for item in menu %}      
                        {% for child in item.childs %}
                            <li>                                
                                <a class="mdl-js-button mdl-js-ripple-effect {{child.get('attributes').class}}" href="{{ child.link }}" {{child.get('attributes')|stringify}}>
                                    <i class="zmdi {{child.icon}}"></i><span>{{ child.title }}</span>
                                </a>
                            </li>
                        {% endfor %}   
                    {% endfor %}                           
                </ul>
            </div>
        </div>
    </li>
{% endif %}