
{{ Form.open(form|merge({'class':'form--hor'}))|raw }}
{% if(token) %} {{ Form.token() }} {% endif %}
{% for hidden in hiddens %} {{ hidden|raw }} {% endfor %}
{% set email=fieldsets[0].controls[0] %}
<fieldset name="MDLForms">
    <div class="form-block">
        <div class="input-field">
            <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label {{ errors.has('email')?'is-invalid':'' }}" >
                {{ email.getField(row, email, [])|raw }}            
                {{ Form.label(email.name, email.label,{'class':'mdl-textfield__label'})|raw }}        
                {% if errors.has('email') %}
                    {{ errors.first('email', '<span class="mdl-textfield__error">:message</span>')|raw }}                        
                {% endif %}
            </div>
        </div>        
    </div>
    {% set firstname=fieldsets[0].controls[1] %}
    <div class="form-block">
        <div class="input-field">
            <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label {{ errors.has('firstname')?'is-invalid':'' }}" >
                {{ firstname.getField(row, firstname, [])|raw }}            
                {{ Form.label(firstname.name, firstname.label,{'class':'mdl-textfield__label'})|raw }}        
                {% if errors.has('firstname') %}
                    {{ errors.first('firstname', '<span class="mdl-textfield__error">:message</span>')|raw }}                        
                {% endif %}
            </div>
        </div>        
    </div>
    {% set lastname=fieldsets[0].controls[2] %}
    <div class="form-block">
        <div class="input-field">
            <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label {{ errors.has('lastname')?'is-invalid':'' }}" >
                {{ lastname.getField(row, lastname, [])|raw }}            
                {{ Form.label(lastname.name, lastname.label,{'class':'mdl-textfield__label'})|raw }}        
                {% if errors.has('lastname') %}
                    {{ errors.first('lastname', '<span class="mdl-textfield__error">:message</span>')|raw }}                        
                {% endif %}
            </div>
        </div>        
    </div>
    {% set lastname=fieldsets[0].controls[2] %}
    <div class="form-block">
        <div class="input-field">
            <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label {{ errors.has('lastname')?'is-invalid':'' }}" >
                {{ lastname.getField(row, lastname, [])|raw }}            
                {{ Form.label(lastname.name, lastname.label,{'class':'mdl-textfield__label'})|raw }}        
                {% if errors.has('lastname') %}
                    {{ errors.first('lastname', '<span class="mdl-textfield__error">:message</span>')|raw }}                        
                {% endif %}
            </div>
        </div>        
    </div>
    {% set password=fieldsets[0].controls[3] %}
    <div class="form-block">
        <div class="input-field">
            <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label {{ errors.has('password')?'is-invalid':'' }}" >
                {{ password.getField(row, password, [])|raw }}            
                {{ Form.label(password.name, password.label,{'class':'mdl-textfield__label'})|raw }}        
                {% if errors.has('password') %}
                    {{ errors.first('password', '<span class="mdl-textfield__error">:message</span>')|raw }}                        
                {% endif %}
            </div>
        </div>        
    </div>
    {% set password_confirmation=fieldsets[0].controls[4] %}
    <div class="form-block">
        <div class="input-field">
            <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label {{ errors.has('password_confirmation')?'is-invalid':'' }}" >
                {{ password_confirmation.getField(row, password_confirmation, [])|raw }}            
                {{ Form.label(password_confirmation.name, password_confirmation.label,{'class':'mdl-textfield__label'})|raw }}        
                {% if errors.has('password_confirmation') %}
                    {{ errors.first('password_confirmation', '<span class="mdl-textfield__error">:message</span>')|raw }}                        
                {% endif %}
            </div>
        </div>        
    </div>
</fieldset>
{% set submit=fieldsets[0].controls[5] %}
{{ submit.getField(row, submit, [])|raw }}
{% set back=fieldsets[0].controls[6] %}
{{ back.getField(row, back, [])|raw }}
{{ Form.close()|raw }}