<div class="login-box__header">
    <img src="/_dist/img/theme/antares/logo/logo_mobile.png" >
</div>
{{ Form.open(form|merge({'class':'form--hor'}))|raw }}
{% if(token) %} {{ Form.token() }} {% endif %}
{% for hidden in hiddens %} {{ hidden|raw }} {% endfor %}
{% set email=fieldsets[0].controls[0] %}

<div class="mdl-textfield mdl-textfield--billevo mdl-js-textfield {{ errors.has('email')?'is-invalid':'' }}">
    {{ Form.label(email.name, email.label,{'class':'label--login'})|raw }}        
    {{ email.getField(row, email, [])|raw }}            
    <span class="mdl-textfield__error">
        {{ errors.first('email', format)|raw }}
    </span>
</div>
{% set firstname=fieldsets[0].controls[1] %}
<div class="mdl-textfield mdl-textfield--billevo mdl-js-textfield {{ errors.has('firstname')?'is-invalid':'' }}">
    {{ Form.label(firstname.name, firstname.label,{'class':'label--login'})|raw }}        
    {{ firstname.getField(row, firstname, [])|raw }}        
    <span class="mdl-textfield__error">
        {{ errors.first(firstname.name, format)|raw }}
    </span>
</div>
{% set lastname=fieldsets[0].controls[2] %}
<div class="mdl-textfield mdl-textfield--billevo mdl-js-textfield {{ errors.has('lastname')?'is-invalid':'' }}">
    {{ Form.label(lastname.name, lastname.label,{'class':'label--login'})|raw }}        
    {{ lastname.getField(row, lastname, [])|raw }}        
    <span class="mdl-textfield__error">
        {{ errors.first(lastname.name, format)|raw }}
    </span>
</div>
{% set password=fieldsets[0].controls[3] %}
<div class="mdl-textfield mdl-textfield--billevo mdl-js-textfield {{ errors.has('password')?'is-invalid':'' }}">
    {{ Form.label(password.name, password.label,{'class':'label--login'})|raw }}        
    {{ password.getField(row, password, [])|raw }}        
    <span class="mdl-textfield__error">
        {{ errors.first(password.name, format)|raw }}
    </span>
</div>
{% set password_confirmation=fieldsets[0].controls[4] %}
<div class="mdl-textfield mdl-textfield--billevo mdl-js-textfield {{ errors.has('password_confirmation')?'is-invalid':'' }}">
    {{ Form.label(password_confirmation.name, password_confirmation.label,{'class':'label--login'})|raw }}        
    {{ password_confirmation.getField(row, password_confirmation, [])|raw }}        
    <span class="mdl-textfield__error">
        {{ errors.first(password_confirmation.name, format)|raw }}
    </span>
</div>
{% set submit=fieldsets[0].controls[5] %}
{{ submit.getField(row, submit, [])|raw }}
<div class="link-group">
    {% set back=fieldsets[0].controls[6] %}
    {{ back.getField(row, back, [])|raw }}
</div>
{{ Form.close()|raw }}