{% extends "antares/foundation::layouts.quest.main" %}
{% block content %}
    <div class="app-content page-login">
        <div class="img-logo" style="background-image:url({{ brand_logo('big',asset('/img/logos/logo_default_full_mobile.png')) }})"></div>
        <section class="main-content">
            <div class="login-box">
                {{ set_meta('header::class', 'main-header') }}
                {% set formbuilder = app('form') %}
                {{  formbuilder.open({'url':predefined.action ? predefined.action : handles('antares/foundation::login'),'action':'POST','id':'login-form'})|raw }}

                <form action="" method="get" id="login-form">
                    <fieldset name="MDLForms">
                        <div class="form-block">
                            <div class="input-field input-field--desc {{ errors.has('email') ? 'type-error' : '' }}">
                                <div class="col-group m0">
                                    <div class="col-mb-24 col-24 p0">
                                        <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label is-focused">
                                            {{ formbuilder.input('text', 'email', (request.old('email')?request.old('email'):email), {'class':'mdl-textfield__input','id':'email','autocomplete':'on'})|raw }}
                                            <label class="mdl-textfield__label" for="Email">
                                                {{ trans('Email address') }}
                                            </label>
                                        </div>
                                    </div>
                                    {% if errors.has('email') %}
                                        <div class="col-mb-24 col-24 p0">
                                            <div class="input-field__desc">
                                                {{ errors.first('email', ':message')|raw }}  
                                            </div>
                                        </div>
                                    {% endif %}    
                                </div>
                            </div>
                            <div class="input-field input-field--desc {{ errors.has('password') ? 'type-error' : '' }}">
                                <div class="col-group m0">
                                    <div class="col-mb-24 col-24 p0">
                                        <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label is-focused">
                                            {{ formbuilder.input('password', 'password', (request.old('password')?request.old('password'):password), {'class':'mdl-textfield__input','id':'password'})|raw }}
                                            <label class="mdl-textfield__label" for="password">{{ trans('Password') }}</label>
                                        </div>
                                    </div>
                                    {% if errors.has('password') %}
                                        <div class="col-mb-24 col-24 p0">
                                            <div class="input-field__desc">
                                                {{ errors.first('password', ':message')|raw }}  
                                            </div>
                                        </div>
                                    {% endif %}    
                                </div>
                            </div> 
                    </fieldset>

                    <div class="login-box__remember">
                        {{ formbuilder.checkbox('remember_me', '', false, {'data-icheck':"true",'id':'login-box__remember'})|raw }}                                                  
                        <span>{{ trans('Remember me') }}</span>
                    </div>
                    <button class="btn btn--submit btn--s-extra-large btn--primary mdl-button mdl-js-button mdl-js-ripple-effect" form="login-form" type="submit">
                        {{ trans('LOGIN') }}
                    </button>
                    <div class="link-group">
                        <a href="{{ handles('antares::forgot') }}" class="password-reset" title="{{ trans('antares/foundation::title.forgot-password') }}">
                            {{ trans('antares/foundation::title.forgot-password') }}
                        </a>
                        {% if (memorize('site.registrable', false)) %}
                            <a href="{{ handles('antares::register') }}" class="password-reset" title="{{ trans('antares/foundation::title.register') }}">
                                {{ trans('antares/foundation::title.register') }}
                            </a>                            
                        {% endif %}
                    </div>
                    {{ formbuilder.close()|raw }} 
            </div>
        </section>
    </div>

{% endblock %}
