{% extends "antares/foundation::layouts.quest.main" %}
{% block content %}
    <div id="app-wrapper">
        <div class="app-content page-login">
            <section class="main-content">
                <div class="login-box">
                    <div class="login-box__header">
                        <img src="{{ brand_logo('big',asset('/img/logos/logo.png')) }}" alt="{{ brand_title() }}">
                    </div>
                    {{ set_meta('header::class', 'main-header') }}
                    {% set formbuilder = app('form') %}
                    {{  formbuilder.open({'url':predefined.action ? predefined.action : handles('antares/foundation::login'),'action':'POST','id':'login-form'})|raw }}
                    <div class="mdl-textfield mdl-textfield--billevo mdl-js-textfield {{ errors.has('email')?'is-invalid':'' }}" >
                        <label class="label--login" for="Email">
                            {{ trans('Email address') }}                                                        
                        </label>
                        {{ formbuilder.input('text', 'email', (request.old('email')?request.old('email'):email), {'class':'mdl-textfield__input','id':'email'})|raw }}                                                
                        {% if errors.has('email') %}
                            {{ errors.first('email', '<span class="mdl-textfield__error">:message</span>')|raw }}                        
                        {% else %}
                            <span class="mdl-textfield__error">Please enter a valid email address.</span>
                        {% endif %}
                    </div>
                    <div class="mdl-textfield mdl-textfield--billevo mdl-js-textfield mt8 mb24" >
                        <label class="label--login" for="password">
                            {{ trans('Password') }}                            
                        </label>
                        {{ formbuilder.input('password', 'password', (request.old('password')?request.old('password'):password), {'class':'mdl-textfield__input','id':'password'})|raw }}
                    </div>
                    <div class="login-box__remember">
                        {{ formbuilder.checkbox('remember_me', '', false, {'data-icheck':"true",'id':'login-box__remember'})|raw }}                          
                        <span>{{ trans('Remember me') }}</span>                
                    </div>
                    <button class="btn btn--submit btn--s-xxl btn--primary mdl-button mdl-js-button mdl-js-ripple-effect" form="login-form" type="submit">
                        {{ trans('LOGIN') }}
                    </button>
                    <div class="link-group">
                        <a href="{{ handles('antares::forgot') }}" class="password-reset" title="{{ trans('antares/foundation::title.forgot-password') }}">{{ trans('antares/foundation::title.forgot-password') }}</a>
                        {% if (memorize('site.registrable', false)) %}
                            <a href="{{ handles('antares::register') }}" class="password-reset" title="{{ trans('antares/foundation::title.register') }}">
                                {{ trans('antares/foundation::title.register') }}
                            </a>                            
                        {% endif %}
                    </div>
                    {{ formbuilder.close()|raw }}       
                </div>
            </section>
        </div>
    </div>
{% endblock %}
