{{ Form.open(form|merge({'class':'form--hor'}))|raw }}
{% if(token) %}
    {{ Form.token() }}
{% endif %}
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}
<div class="col-group">
    <div class="col-dt-8">
        {% for fieldset in fieldsets %}
            {% if fieldset.hasLayout() %}
                {{ fieldset.render()|raw }}
            {% else %}    
                <fieldset name="inputs">
                    {% if fieldset.legend|length>0 %}
                        <legend>{{ fieldset.legend }}</legend>
                    {% endif %}
                    <div class="col-group">
                        {% for control in fieldset.controls() %}
                            <div class="form-block">
                                {% include 'antares/foundation::layouts.antares.partials.form.vertical._'~control.type|replace({':': '_'}) with {control: control} %}
                            </div>
                        {% endfor %}
                    </div>
                </fieldset>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% if buttons is not empty %}
    <div class="app-content__footer">
        <div class="btn-group">
            {% for button in buttons %}
                {{ button.getField(row, button, [])|raw }}
            {% endfor %}
        </div>
    </div>
{% endif %}
{{ Form.close()|raw }}