{% set htmlbuilder = app('html') %}
{% set attributes = htmlbuilder.decorate(navbar.attributes ?: [], {'class':'navbar', 'role':'navigation'})  %}

<nav {{ htmlbuilder.attributes(attributes)|raw }}>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".{{ navbar.id }}-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{{ navbar.url }}" class="navbar-brand">
            {{ navbar.title }}
        </a>
    </div>
    <div class="collapse navbar-collapse {{ navbar.id }}-responsive-collapse">                
        {{ navbar.get('left')|raw }} 
        {{ navbar.get('right')|raw }} 
        {{ navbar.get('menu')|raw }} 
    </div>
</nav>