{% set menu=app('antares.platform.menu') %}
<nav>
    <ul class="primary-menu">
        {% for item in menu %}
            {% if item.childs|length<1 %}   
                <li>                        
                    <a href="{{ item.link }}">
                        <i class="icon-speedometer icons"></i>
                        <span>{{ item.title }}</span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="#">
                        <i class="icon-layers icons"></i>
                        <span>{{ item.title }}</span>
                    </a>
                    <!-- SUBMENU !!!!! -->
                    <div class="submenu">
                        <section>
                            <header>
                                <h3>{{ item.title }}</h3>
                                <div class="actions">
                                    <a class="add" href="#">
                                        <span>+</span>
                                    </a>
                                </div>
                            </header>
                            <div class="data-content">
                                {% for child in item.childs %}
                                    {% set grands = child.childs %}
                                    <a href="{{ child.link }}">
                                        <span>{{ child.title }}</span>                                        
                                    </a>
                                {% endfor %}                                
                            </div>
                        </section>
                    </div>                        
                </li>   
            {% endif %}    
        {% endfor %}    
    </ul>
    
</nav>    
