{% extends "antares/foundation::layouts.quest.main" %}
{% block content %}
    <div class="app-content page-login">
        <div class="img-logo" style="background-image:url({{ brand_logo('big',asset('/img/logos/logo_default_full_mobile.png')) }})"></div>
        <section class="main-content">
            <div class="login-box">
                {{ set_meta('header::class', 'main-header') }}
                {% set formbuilder=app('form') %}   
                {% set request=app('request') %}   
                {{ formbuilder.open({'url':handles('antares::forgot'), 'method':'POST'})|raw }}
                <fieldset name="MDLForms">
                    <div class="form-block">
                        <div class="input-field">
                            <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label {{ errors.has('email')?'is-invalid':'' }}" >
                                {{ formbuilder.input('email', 'email', request.old('email'), {'required':true,'class':'mdl-textfield__input','id':'email'})|raw }}
                                <label class="mdl-textfield__label" for="Email">
                                    {{ trans('Email address') }}                                                        
                                </label>
                                {% if errors.has('email') %}
                                    {{ errors.first('email', '<span class="mdl-textfield__error">:message</span>')|raw }}                        
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <button class="btn btn--submit btn--s-xxl btn--primary mdl-button mdl-js-button mdl-js-ripple-effect mt20"  type="submit">
                        {{ trans('RESET PASSWORD') }}
                    </button>

                    <a href="{{ handles('antares::login') }}" class="password-reset" title="{{ trans('antares/foundation::title.login') }}">
                        {{ trans('antares/foundation::title.login') }}
                    </a>
                    {% if (memorize('site.registrable', false)) %}
                        <a href="{{ handles('antares::register') }}" class="password-reset" title="{{ trans('antares/foundation::title.register') }}">
                            {{ trans('antares/foundation::title.register') }}
                        </a>                            
                    {% endif %}
                </fieldset>
                {{ formbuilder.close()|raw }}  
            </div>
        </section>
    </div>
{% endblock %}