{% if control.hasWrapper %}
    <div class="{{ control.getWrapper('class') }}" >
    {% endif %}    
    <div class="col-24">
        <div class="input-field">
            <label class="file-upload" >
                <a class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect mr16">{{ control.label }}</a>
                <input type="text" placeholder="File path" class="disabled file-path" disabled="disabled">
                {{ control.getField(row, control, [])|raw }}
                {% if control.inlineHelp|length>1 or control.help|length>1 %}
                    {% include 'antares/foundation::layouts.antares.partials.form.vertical._description' %}             
                {% endif %}
            </label>
            <span id="{{ control.id }}_error" class="error col-13 col-mb-11">
                {{ errors.first(control.name, format)|raw }}
            </span>
        </div>
    </div>
    {% if control.hasWrapper %}
    </div>
{% endif %}            