<div class="col-group {{ control.hasError(errors) ? 'error' : '' }}">
    {% if control.hasLabel() %}
        <div class="{{ control.getLabelWrapper('class')|default('col-mb-8 col-6 col-dt-4 col-ld-3') }}">
            {{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}    
        </div>
    {% endif %}
    <div class="{{ control.getWrapper('class')|default('col-mb-16 col-18 col-dt-10 col-ld-4') }}">
        <div class="input-field">
            {{ control.getField(row, control, [])|raw }}                
        </div>
        <span id="{{ control.id }}_error" class="error nopadding">
            {{ errors.first(control.name, format)|raw }}
        </span>
    </div>
</div>
