{% if control.hasWrapper %}
    <div class="{{ control.getWrapper('class') }}" >
    {% endif %}
    <div class="col-dt-3 col-5 col-mb-5 {{ control.getLabelWrapper('class') }}">
        {{ Form.htmlLabel(control)|raw }}    
    </div>
    <div class="col-dt-14 col-13 col-mb-11 {{ control.getWrapper('class') }}">
        <div class="radio-btns">            
            {% for value,name in control.options %}
                <label data-type="radio-btn">
                    <input type="radio" name="{{ control.name }}" value="{{value}}" {{ (value==control.value) ? 'checked="checked"' :''  }}/>
                    <span class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">
                        {{name|raw}}
                    </span>
                </label>
            {% endfor %}    
        </div>
        {% if control.inlineHelp|length>1 or control.help|length>1 %}
            {% include 'antares/foundation::layouts.antares.partials.form.horizontal._description' %}             
        {% endif %}
        <span id="{{ control.id }}_error" class="error col-13 col-mb-11">
            {{ errors.first(control.name, format)|raw }}
        </span>
    </div>
    {% if control.hasWrapper %}
    </div>
    2-16
    24  
{% endif %}