<div class="col-dt-2 col-2 col-mb-2 {{ control.getLabelWrapper('class') }}">
    {{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}    
</div>
<div class="col-dt-6 col-6 col-mb-6 {{ control.getWrapper('class') }}">
    <div class="input-field input-field--desc {{ control.get('fieldClass')|raw }}">        
        {{ control.get('prepend')|raw }}
        {{ control.getField(row, control, [])|raw }}        
    </div>
    <span id="{{ control.id }}_error" class="error col-13 col-mb-11">
        {{ errors.first(control.name, format)|raw }}
    </span>
</div>      
