{% if control.hasWrapper %}
    <div class="{{ control.getWrapper('class') }}" >
    {% endif %}    
    <div class="col-group {{ control.hasError(errors) ? 'error' : '' }}">
        <div class="{{ control.getLabelWrapper('class')|default('col-mb-8 col-6 col-dt-4 col-ld-3') }}">
            <label class="form-block__name">
                {{ control.label }}
                {% if control.has('tooltip') %}
                    <i class="zmdi zmdi-help-outline help--trigger" data-tooltip-inline="{{ control.tooltip }}"></i>
                {% endif %}
            </label>
        </div>

        <div class="{{ control.getWrapper('class')|default('col-mb-16 col-18 col-dt-10 col-ld-4') }}">
            <div class="input-field input-field--short">
                <label class="switch">
                    {{ control.getField(row, control, [])|raw }}
                    <div class="switch-container">
                        <div class="switch-handle"></div>
                    </div>
                </label>
            </div>
        </div>
        <span id="{{ control.id }}_error" class="error">
            {{ errors.first(control.name, format)|raw }}
        </span>
    </div>
    {% if control.hasWrapper %}
    </div>
{% endif %}