{% if control.hasWrapper %}
    <div class="{{ control.getWrapper('class') }}" >
    {% endif %}    
    <div class="col-16 mb2">
        <label class="form-block__name p0">
            <div class="col-dt-2 col-2 col-mb-2 nopadding {{ control.getLabelWrapper('class') }}">
                <span>{{ control.label }}</span>
                {% if control.has('tooltip') %}
                    <i class="zmdi zmdi-help-outline help--trigger" data-tooltip-inline="{{ control.tooltip }}"></i>
                {% endif %}
            </div>
            <div class="col-dt-6 col-6 col-mb-6 nopadding {{ control.getWrapper('class') }}">
                <div class="input-field input-field--short ml-auto">
                    <label class="switch">
                        {{ control.getField(row, control, [])|raw }}
                        <div class="switch-container">
                            <div class="switch-handle"></div>
                        </div>
                    </label>
                </div>        
            </div>
        </label>
        <span id="{{ control.id }}_error" class="error">
            {{ errors.first(control.name, format)|raw }}
        </span>
    </div>
    {% if control.hasWrapper %}
    </div>
{% endif %}