<meta charset="UTF-8" >
{% block head_title %}
    {% set title=get_meta('title') %}
    <title>{{ brand_title()|default('Antares') }}  {{ title|length > 0 ? '- '~title:'' }}</title>
{% endblock %}
<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="description" content="Thank you for choosing Antares as a foundation for your application. You can find the latest updates and documentation at: http://antaresproject.io" >
<meta name="keywords" content="Antares, User Management, Platform, Laravel, Two-Factor Authentication, REST API,Notifications, Automation, Open Source, Installer, Updater" >
<meta name="author" content="INBS Software" >
<META NAME="robots" content="noindex, nofollow">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="theme-color" content="#02A8F3">

<link rel="icon" sizes="192x192" href="{{ brand_logo('favicon') }}">
<link rel="icon" href="{{ brand_logo('favicon') }}">

<meta name="theme-color" content="#4285f4">
<meta name="msapplication-navbutton-color" content="#02A8F3">
<meta name="apple-mobile-web-app-status-bar-style" content="#02A8F3">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Antares">
<meta name="apple-mobile-web-app-title" content="Antares">

{% block javascripts %}
    {%  set asset = app('antares.asset').container('antares.header')
            .style('external_css', '/_dist/css/external.css?t='~random(1000))
            .style('antares_css', '/_dist/css/antares.css?t='~random(1000))
    %} 
    {{ asset.styles()|raw }}
    {{ brand_styles()|raw }}
{% endblock %}
<style>

    #app-wrapper aside.main-sidebar ul.main-menu li.main-menu__brand .main-sidebar__logo {
        background-image: url({{ (brand_composition('big_sidemenu') or brand_composition('top_menu') or brand_composition('short_top_menu'))? brand_logo('big',asset('/img/logos/logo_default_full_mobile.png')) : brand_logo() }})
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px){
        #app-wrapper aside.main-sidebar ul.main-menu li.main-menu__brand .main-sidebar__logo {
            background-image: url({{ brand_logo('big',asset('/img/logos/logo_default_full_mobile.png'))  }}) !important;            
        }
    }
    @media only screen and (max-width: 767px){
        #app-wrapper aside.main-sidebar ul.main-menu li.main-menu__brand .main-sidebar__logo {
            background-image: url({{ brand_logo('big',asset('/img/logos/logo_default_full_mobile.png'))  }}) !important;            
        }
    }
    @media only screen and (max-width: 1023px) {
        .app-content:before {
            left:0;
            width: 100% !important;
        }
    }
    [data-preload] {
        opacity: 0;
    }

    .grid-stack-item-content {
        background: #fff;
    }

    .main-sidebar--top .main-menu.main-menu--secondary > li a i, .main-sidebar--top .main-menu.main-menu--primary > li a i{
        font-size: 24px;
        margin-right: 16px;
    }
    aside.main-sidebar {
        width: 98px;
        height: 100vh;
    }
    @media only screen and (min-width: 1024px) {
        .app-content {
            margin-left: 98px;
        }
    }
    .app-content:before {
        -webkit-transition: .3s;
        -o-transition: .3s;
        position: absolute;
        left: 0;
        width: calc(100vw - 98px);
        height: 230px;
        background: #02a8f3;
        content: "";
        opacity: 1;
        transition: .3s;
    }

    #app-wrapper.main-sidebar--top .main-head, #app-wrapper.main-sidebar--top .main-content, #app-wrapper.main-sidebar--top .nav-container, #app-wrapper.main-sidebar--top .submenu section {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    #app-wrapper.main-sidebar--top .main-head--ca.main-head,
    #app-wrapper.main-sidebar--top.main-sidebar--ca .main-content,
    #app-wrapper.main-sidebar--top .main-menu-html--ca .nav-container,
    #app-wrapper.main-sidebar--top .main-menu-html--ca .submenu section {
        max-width: 1152px;
    }

    #app-wrapper.main-sidebar--top .main-menu-html--ca .more-trigger {
        display: none;
    }

    #app-wrapper.main-sidebar--top .main-menu-html--ca .client-area .item-grp-single:nth-child(2) {
        position: relative;
    }

    .ddown-multi .ddown-multi__submenu .ddown__sgl--range .btn, .ddown-multi .ddown-multi__submenu .ddown__sgl--range button{
        text-align: left;
    }
    .mass-actions-menu{
        display:none;
    }
    .widget-ajax-response{
        height:100%;
    }
    #app-wrapper .page-clients-details .main-content .clients-details-gridstack .tbl-c .card-ctrls.swiper--no-slides{
        margin-bottom:21px !important;
    }
    .datatables-row-loader{        
        min-height:38px;
        width:100%;
    }
    .grid-stack-item-content .card.card--pagination.card-datatables .pagination{
        bottom:auto;
    }
    .antares-dropjs-filter--out .dropjs-wrapper ul{
        list-style: none;
        padding:0px;
        margin:0px;
    }
    .antares-dropjs-filter--out .dropjs-wrapper ul li a{
        width: 100%;
    }
    #app-wrapper .card .card-ctrls.tab-search .filters .swiper-filters--box .swiper-filters .swiper-slide .filter .ddown__init span{
        max-width:auto;
    }
    .page-datatables .card-ctrls__right .filters .ddown .btn-with-selected{
        display:flex !important;
    }    
    .grid-container--2col .card--pagination{
        box-shadow:none;
    }
    .tbl-c table tr td:last-child{
        text-align:left;
    }
    .acl-node .acl-node__label:after{
        top:4px;
    }
    .is-firefox #app-wrapper .app-content .grid-stack-item .grid-stack-item-content, .is-firefox .main-menu-html nav ul.main-menu{overflow: visible}
    @media only screen and (min-width: 768px) {

        .is-firefox aside.main-sidebar nav {
            overflow: visible !important;
        }

    }
</style>
<link rel="manifest" href="/manifest.json">