{% if brand_composition('short_top_menu') %}
    <div class="item-grp-single mainhead-btn--widget-edit" >
        <div class="mdl-js-button mdl-js-ripple-effect widget-edit" id="widgets-edit" >
            <i class="icon--widgets-edit"></i>
            <span class="mdl-button__ripple-container">
                <span class="mdl-ripple"></span>
            </span>
        </div>
    </div>
{% endif %} 
<div class="item-grp-single mainhead-btn--noti" data-tooltip-inline="{{ trans('Notifications') }}" data-tooltip-my-position="top left" data-tooltip-target-position="bottom right">
    <span id="notification-counter" data-preload class="badge badge--md badge--green badge--top-right notification-counter" data-count="" data-host="{{ hostname() }}"></span>
    <div class="mdl-js-button mdl-js-button mdl-js-ripple-effect" id="main-notifications" data-url="{{ handles('antares::notifications/sidebar/read') }}">
        <div class="main-head__alerts"><i class="icon--alert"></i></div>
    </div>
</div>
{% if not brand_composition('short_top_menu') %}
    <div class="item-grp-single  mainhead-btn--alerts"  data-tooltip-inline="{{ trans('Alerts') }}">
        <span class="badge badge--md badge--green badge--top-right" data-preload></span>
        <div class="mdl-js-button mdl-js-button mdl-js-ripple-effect" id="main-alerts" data-url="{{ handles('antares::notifications/sidebar/read/alerts') }}">
            <div class="main-head__settings"><i class="zmdi zmdi-alert-triangle"></i>
            </div>
        </div>
    </div>           
{% endif %} 
{% if not auth_user() is null %}        
    <div class="item-grp-single  mainhead-btn--user-info">
        <div class="ddown ddown--user">
            <div class="mdl-js-button mdl-js-ripple-effect ddown__init ddown__init--clean">
                <div class="avatar avatar--xs">
                    <img width="40" height="40" class="gravatar" src="{{ profile_picture(auth_user().email) }}" alt="{{ auth_user().fullname }}" />
                </div>
            </div>
            <div class="ddown__content">
                <ul class="ddown__menu">
                    {% if can('antares::user-update') %}   
                        <li class="ddown__header">
                            <a class="mdl-js-button mdl-js-ripple-effect" href="{{ handles('antares/foundation::account') }}">
                                <div class="flex-block">
                                    <div class="avatar avatar--lg">
                                        <img width="60" height="60" class="gravatar" src="{{ profile_picture(auth_user().email,60,60) }}" alt="{{ auth_user().fullname }}" />
                                    </div>
                                    <div class="flex-block__content">
                                        <span class="flex-block__title">{{ auth_user().fullname }}</span>
                                        <span class="flex-block__desc">{{ auth_user().email }}</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="mdl-js-button mdl-js-ripple-effect" href="{{ handles('antares/foundation::account') }}">
                                <i class="zmdi zmdi-account-box"></i> {{ trans('My Account') }}
                            </a>
                        </li>
                    {% endif %}    
                    <li class="ddown__footer">
                        <a class="mdl-js-button mdl-js-ripple-effect" href="{{ handles('antares/foundation::logout') }}">
                            <i class="zmdi zmdi-sign-in"></i> {{ trans('Sign Out') }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}    