{{ Form.open(form|merge({'class':'form--hor'}))|raw }}
{% if(token) %}
    {{ Form.token() }}
{% endif %}
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}

{% for fieldset in fieldsets %}
    {% if fieldset.hasLayout() %}
        {{ fieldset.render()|raw }}
    {% else %}    
        <fieldset name="inputs">
            {% if fieldset.legend|length>0 %}
                <legend>{{ fieldset.legend|raw }}</legend>
            {% endif %}
            {% for control in fieldset.controls() %}
                <div class="form-block {{control.getBlock('class')}}" role="{{control.getBlock('role')}}">
                    {% include 'antares/foundation::layouts.antares.partials.form.horizontal._'~control.type|replace({':': '_'}) with {control: control} %}
                    {% if control.inlineHelp|length>1 or control.help|length>1 %}
                        {% include 'antares/foundation::layouts.antares.partials.form.horizontal._description' %}             
                    {% endif %}
                </div>                        
            {%endfor %}
        </fieldset>
    {% endif %}
{%endfor %}
{% block buttons %}
    {% set links = [] %}
    {% if buttons is not empty %}
        <div class="app-content__footer">
            <div class="btn-group">
                {% for button in buttons %}  
                    {% if button.attributes.attributes.type not in ['submit','button'] %}
                        {% set links = links|merge([button]) %}
                    {% else %}
                        {% if not button.hasWrapper() %}
                            {{ button.getField(row, button, [])|raw }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for link in links %}  
                    {% if not link.hasWrapper() %}
                        {{ link.getField(row, link, [])|raw }}
                    {% endif %}
                {% endfor %}
                {% for test in tests %}
                    {{ test|raw }}
                {% endfor %} 
            </div>
        </div>
        {% for button in buttons %}  
            <div class="form-block">
                {% if button.hasWrapper() is sameas(true) %}            
                    {{ button.getField(row, button, [])|raw }}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
{{ Form.close()|raw }}  