{{ Form.open(form|merge({'class':'form--hor'}))|raw }}
{% if(token) %}
    {{ Form.token() }}
{% endif %}
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}
<div class="col-group">
    {% block fieldsets %}        
        <div class="{{ form.class|default('col-dt-12') }} col-mb-24">
            {% for fieldset in fieldsets %}
                {% if fieldset.hasLayout() %}
                    {{ fieldset.render()|raw }}
                {% else %}    
                    <fieldset name="inputs">
                        {% if fieldset.legend|length>0 %}
                            <legend>{{ fieldset.legend|raw }}</legend>
                        {% endif %}
                        <div class="col-group">
                            {% for control in fieldset.controls() %}
                                <div class="form-block {{control.getBlock('class')}}" role="{{control.getBlock('role')}}">
                                    {% include 'antares/foundation::layouts.antares.partials.form.vertical._'~control.type|replace({':': '_'}) with {control: control} %}
                                </div>
                            {%endfor %}
                        </div>
                    </fieldset>
                {% endif %}
            {%endfor %}
            <div class="separator"></div>
        </div>

    {% endblock %}
</div>
{% block buttons %}
    {% set links = [] %}
    {% if buttons is not empty %}
        <div class="app-content__footer">
            <div class="btn-group">
                {% for button in buttons %}                      
                    {% if button.attributes.attributes.type not in ['submit','button'] %}
                        {% set links = links|merge([button]) %}
                    {% else %}
                        {% if not button.hasWrapper() %}
                            {{ button.getField(row, button, [])|raw }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for test in tests %}
                    {{ test|raw }}
                {% endfor %} 
                {% for link in links %}  
                    {% if not link.hasWrapper() %}
                        {{ link.getField(row, link, [])|raw }}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        {% for button in buttons %}  
            <div class="form-block">
                {% if button.hasWrapper() is sameas(true) %}            
                    {{ button.getField(row, button, [])|raw }}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
{{ Form.close()|raw }}