{% set menu=app('antares.platform.menu') %}
{% for item in menu %}
    {% if item.childs|length<1 %}   
        <li data-name='{{ item.title }}' class="{{ item.isActive()?'is-active':'' }}">
            <a href="{{ item.link }}" title="{{ item.title }}">
                <i class="zmdi {{ item.icon }}"></i>
                <span class="text">{{ item.title }}</span>
            </a>
        </li>
    {% else %}
        <li data-name='{{ item.title }}' class="{{ item.isActive()?'is-active':'' }}">
            <a href="{{ item.link }}" title="{{ item.title }}" >
                <i class="zmdi {{ item.icon }}"></i>
                <span class="text">{{ item.title }}</span>
            </a>
            <div class="submenu flex-fs">
                <a href="{{ item.link }}" class="submenu__mobile-return">
                    <i class="zmdi zmdi-arrow-left"></i>
                    <span>{{ item.title }}</span>
                </a>
                <section>
                    <header><h3>{{ item.title }}</h3></header>                    
                    <div class="submenu__content">
                        <ul class="data-list">
                            {% for child in item.childs %}                                                                        
                                <li class="{{ child.isActive()?'is-active':'' }}">
                                    <a href="{{ child.link }}">
                                        {% if child.attributes.html %}
                                            {{ child.html|raw}}
                                        {% else %}
                                            <span>{{ child.title}}</span>                                             
                                        {% endif %}                      
                                    </a>
                                </li>
                            {% endfor %}     
                        </ul>
                    </div>
                </section>                                                             
            </div>
        </li>
    {% endif %}    
{% endfor %}    
