{% if sandbox is not null %}    
    <div class="col-8">
        <div class="col-group">
            <div class="col-8">
                <h1 class="sandbox-mode-title">
                    {{ trans('You are in Sandbox Mode') }} {{ sandbox }}         
                </h1>
            </div>            
            {% if url is not null %}
                <div class="col-3">
                    <a href="{{ url }}" class="btn btn-default btn--s-small btn--red mdl-button mdl-js-button mdl-js-ripple-effect btn-primary sandbox-production" data-title="{{ trans('Are you sure?') }}" data-description="{{ trans('This operation make take a while...') }}">
                        <i class="zmdi zmdi-desktop-windows"></i> {{ trans('set as production') }}
                    </a>
                </div>
            {% endif %}
            <div class="col-3">
                <a href="{{ handles('/',{'sandbox':false}) }}" class="btn btn-default btn--s-small btn--orange mdl-button mdl-js-button mdl-js-ripple-effect btn-primary">
                    <i class="zmdi zmdi-long-arrow-return"></i> {{ trans('back to primary') }}
                </a>
            </div>
            <a href="{{ handles('antares::updater/production/rollback',{'csrf':true}) }}" class="production-rollback hidden" description="rollback..."></a>
            <div class="modal hide" id="Production-Modal" title="{{ trans('updating production') }}...">
                {{ trans('it may take a while, please be patient') }}...
                <div class="update-production-container">
                </div>                
            </div>
        </div>
    </div>
{% endif %}