<!DOCTYPE html>
<html lang="en" >             
    <head>
        {% block head %}
            {% include 'antares/foundation::layouts.antares.partials._head_webpack' %}
        {% endblock %}        
    </head>    
    <body data-id="{{ pageId }}">
        <div id="app-wrapper" class="{{ (brand_composition('top_menu') or brand_composition('short_top_menu'))  ? 'main-sidebar--top' : '' }} {{ brand_composition('short_top_menu') ? 'main-sidebar--ca':'' }} {{ brand_composition('big_sidemenu') ? 'main-sidebar--wide main-sidebar--expanded' : '' }}" >            
            {% include 'antares/foundation::layouts.antares.partials.navigation._aside' %}            
            {{ placeholder('left-menu') }}
            {% block app_content %}
                <div class="app-content {{ content_class|default('app-content app-content--gridstack page-datatables') }}">
                {% endblock %}     
                {% block widgets %}
                    {% include 'antares/foundation::layouts.antares.partials._ui_component_select' %}
                {% endblock %} 
                <section class="main-head {{ brand_composition('short_top_menu') ? 'main-head--ca' : '' }}">
                    {% block breadcrumbs %}
                        {% include 'antares/foundation::layouts.antares.partials._breadcrumbs' %}
                    {% endblock %} 
                    {% block sidebar_top %}
                        {% block sidebar_top_panes %}
                            {% include 'antares/foundation::layouts.antares.partials._sidebar_top_panes' %}                        
                        {% endblock %}
                        {% if not brand_composition('short_top_menu') %}
                            <div class="item-grp item-grp--40 mainhead-control-btns">        
                                <div class="client-area">
                                    {% block sidebar_top_widgets %}                                
                                    {% endblock %}                        
                                    {% include 'antares/foundation::layouts.antares.partials._sidebar_top' %}
                                </div>
                            </div> 
                            {{ placeholder('brands') }}
                        {% endif %}                        
                        {{ placeholder('multiuser') }}
                    {% endblock %}
                </section>
                <aside class="sidebar sidebar--white sidebar--notifications" data-url="{{ handles('antares::notifications/sidebar/get') }}">
                    <div class="sidebar__header">
                        <div class="sidebar__header-left">
                            <span>{{ trans('antares/foundation::messages.sidebar.notifications') }}</span>
                            <span class="badge badge--md badge--green notification-counter" >
                                0
                            </span>
                        </div>
                        <div class="sidebar__header-right">
                            <a class="mdl-js-button mdl-js-ripple-effect btn-more" id="close-sidebar">
                                <i class="zmdi zmdi-close"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar__content" data-delete="{{ handles('antares::notifications/sidebar/delete') }}">
                        <div class="sidebar__list">
                            <div class="notification-item flex-block sidebar__sgl" >  
                                <span class="flex-block__title item-title">
                                    {{ trans('antares/foundation::messages.sidebar.no_items_found') }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__footer hidden" >
                        <div class="btn btn--md btn--primary mdl-js-button mdl-js-ripple-effect" data-url="{{ handles('antares::notifications/sidebar/clear') }}">Clear All</div>
                    </div>    
                </aside>
                {% if not brand_composition('short_top_menu') %}    
                    <aside class="sidebar sidebar--white sidebar--alerts">
                        <div class="sidebar__header">
                            <div class="sidebar__header-left">
                                <span>{{ trans('antares/foundation::messages.sidebar.alerts') }}</span>
                                <span class="badge badge--md badge--green alerts-counter" >0</span>
                            </div>
                            <div class="sidebar__header-right">
                                <a class="mdl-js-button mdl-js-ripple-effect btn-more" id="close-sidebar">
                                    <i class="zmdi zmdi-close"></i>
                                </a>
                            </div>
                        </div>
                        <div class="sidebar__content" >
                            <div class="sidebar__list">
                                <div class="notification-item sidebar__sgl flex-block" >                                
                                    <span class="flex-block__title item-title">
                                        {{ trans('antares/foundation::messages.sidebar.no_items_found') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__footer hidden" >
                            <div class="btn btn--md btn--primary mdl-js-button mdl-js-ripple-effect" data-url="{{ handles('antares::notifications/sidebar/clear/alerts') }}">Clear All</div>
                        </div>    
                    </aside>
                {% endif %}
                {% block sidebar_preview %}

                {% endblock %}
                {% block main_content %}

                {% endblock %}
            </div>
        </div> 
        {% include 'antares/foundation::layouts.antares.partials._scripts_webpack' %}                        
    </body>
</html>
