<!DOCTYPE html>
<html lang="en" >             
    <head>
        {% block head %}
            {% include 'antares/foundation::layouts.antares.partials._head_webpack' %}
        {% endblock %}        
    </head>    
    <body data-id="{{ pageId }}">

        <div id="app-wrapper">
            <aside class="container main-sidebar">
                <main-menu></main-menu>
            </aside>
            <div class="app-content page-brand-settings">
                {% block widgets %}
                    {% if app('antares.ui-components.installed') %}                        
                        {% include 'antares/foundation::layouts.antares.partials._ui_component_select' %}
                    {% endif %}    
                {% endblock %} 
                <section class="main-head">
                    {% block breadcrumbs %}
                        {% include 'antares/foundation::layouts.antares.partials._breadcrumbs' %}
                    {% endblock %} 

                    {% block sidebar_top %}
                        {% if extension_active('search') %}
                            {{ placeholder('global_search') }}    
                        {% endif %}  
                        <div class="mr16 item-grp item-grp--40">        
                            {% block sidebar_top_widgets %} 
                            {% endblock %}                        
                            {% include 'antares/foundation::layouts.antares.partials._sidebar_top' %}
                        </div>                        
                    {% endblock %}
                </section>
                <aside class="sidebar sidebar--notifications sidebar--white" data-url="{{ handles('antares::notifications/sidebar/get') }}">                    
                    <div class="sidebar__header">
                        <div class="sidebar__header-left">
                            <span>{{ trans('antares/foundation::messages.sidebar.notifications') }}</span>
                            <span class="badge badge--green badge--md notification-counter" >
                                0
                            </span>
                        </div>
                        <div class="sidebar__header-right">
                            <a href="#" class="mdl-js-button mdl-js-ripple-effect btn-more" id="close-sidebar">
                                <i class="zmdi zmdi-close"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar__content" data-delete="{{ handles('antares::notifications/sidebar/delete') }}">
                        <div class="sidebar__list">
                            <div class="notification-item sidebar__sgl flex-block" >                                
                                <span class="flex-block__title item-title">
                                    {{ trans('antares/foundation::messages.sidebar.no_items_found') }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__footer hidden" >
                        <div class="mdl-js-button mdl-js-ripple-effect btn btn--md btn--primary" data-url="{{ handles('antares::notifications/sidebar/clear') }}">Clear All</div>
                    </div>    
                </aside>
                <aside class="sidebar sidebar--white sidebar--alerts">

                    <div class="sidebar__header">
                        <div class="sidebar__header-left">
                            <span>{{ trans('antares/foundation::messages.sidebar.alerts') }}</span>
                            <span class="badge badge--green badge--md alerts-counter" >0</span>
                        </div>
                        <div class="sidebar__header-right">
                            <a href="#" class="mdl-js-button mdl-js-ripple-effect btn-more" id="close-sidebar">
                                <i class="zmdi zmdi-close"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar__content" >
                        <div class="sidebar__list">
                            <div class="notification-item sidebar__sgl flex-block" >                                
                                <span class="flex-block__title item-title">
                                    {{ trans('antares/foundation::messages.sidebar.no_items_found') }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__footer hidden" >
                        <div class="mdl-js-button mdl-js-ripple-effect btn btn--md btn--primary" data-url="{{ handles('antares::notifications/sidebar/clear/alerts') }}">Clear All</div>
                    </div>    
                </aside>                
                {% block sidebar_preview %}

                {% endblock %}
                {% block main_content %}

                {% endblock %}
            </div>
        </div>    

        <template id="sweet-alert-template">
            <div class="sweet-overlay" tabIndex="-1"></div><div class="sweet-alert" style="display: none" tabIndex="-1"><div class="icon error"><span class="x-mark"><span class="line left"></span><span class="line right"></span></span></div><div class="icon warning"> <span class="body"></span> <span class="dot"></span> </div> <div class="icon info"></div> <div class="icon success"> <span class="line tip"></span> <span class="line long"></span> <div class="placeholder"></div> <div class="fix"></div> </div> <img class="sweet-image"> <div class="header"><h2>Title</h2><i class="zmdi zmdi-close swal__close"></i></div><div class="sweet-content">Text</div><hr class="sweet-spacer"><div class="footer"><button class="sweet-confirm">OK</button><button class="sweet-cancel">Cancel</button></div></div>
        </template>        
        {% include 'antares/foundation::layouts.antares.partials._scripts_webpack' %}                

    </body>
</html>
