<div class="pagination mb16 mt16">
    <div class="pagination-pages">
        <div class="pagination-pages__prev">
            {{ previousButton|raw }}
        </div>
        <ul class="pagination-pages__list">
            {{ links|raw }}
        </ul>
        <div class="pagination-pages__next">
            {{ nextButton|raw }}
        </div>
    </div>
    <div class="pagination-filter">
        <ul>
            <li class="{{ perPage==10?'pagination-filter__sgl--active':'' }}">
                <a class="mdl-js-button mdl-js-ripple-effect pagination-ajax" href="{{ url~'&per_page=10' }}">
                    10
                </a>
            </li>
            <li class="{{ perPage==20?'pagination-filter__sgl--active':'' }}">
                <a class="mdl-js-button mdl-js-ripple-effect pagination-ajax" href="{{ url~'&per_page=20' }}">
                    20
                </a>
            </li>
            <li class="{{ perPage==30?'pagination-filter__sgl--active':'' }}">
                <a class="mdl-js-button mdl-js-ripple-effect pagination-ajax" href="{{ url~'&per_page=30' }}">
                    30
                </a>
            </li>
            <li class="{{ perPage==50?'pagination-filter__sgl--active':'' }}">
                <a class="mdl-js-button mdl-js-ripple-effect pagination-ajax" href="{{ url~'&per_page=50' }}">
                    50
                </a>
            </li>
        </ul>
    </div>
</div>