{% if control.hasWrapper %}
    <div class="{{ control.getWrapper('class') }}" >
    {% endif %}
    {% if control.hasLabel() %}
        <div class="col-24 mb2">        
            {{ Form.htmlLabel(control)|raw }}
        </div>
    {% endif %}    
    <div class="col-24">
        <div class="radio-btns">            
            {% for value,name in control.options %}
                <label data-type="radio-btn">                    
                    <input type="radio" name="{{ control.name }}" value="{{ value }}" {{ (value==control.value) ? 'checked="checked"' :''  }}/>
                    <span class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">
                        {{name|raw}}
                    </span>
                </label>
            {% endfor %}    
        </div>        
    </div>
    {% if control.inlineHelp|length>1 or control.help|length>1 %}
        {% include 'antares/foundation::layouts.antares.partials.form.vertical._description' %}             
    {% endif %}
    <span id="{{ control.id }}_error" class="error col-13 col-mb-11">
        {{ errors.first(control.name, format)|raw }}
    </span>
    {% if control.hasWrapper %}
    </div>
{% endif %}