{% extends 'antares/foundation::layouts.antares.main' %}
{% block sidebar_top_widgets %}

{% endblock %}    
{% block main_content %}
    <section class="main-content">
        {% include 'antares/foundation::components.messages'  %}                                    
        {% block content %}
        {% endblock %}         
        {% if app('antares.widgets.installed') %}            
            <div class="grid-stack">                
                {{ widget_forced('user_details',{'width':2,'height':8,'disabled':false,'x':0,'y':0})|raw }}                        
                {{ widget_forced('items_widget',{'width':7,'height':14,'disabled':false,'x':2,'y':0})|raw }}                                                        
                {{ widget_forced('activity_logs',{'width':7,'height':15,'disabled':false,'x':2,'y':17})|raw }}                                        
                {{ widget_forced('tags',{'width':3,'height':6,'disabled':false,'x':9,'y':20})|raw }}                                
                {{ widget_forced('files_widget',{'width':3,'height':14,'disabled':false,'x':9,'y':30})|raw }}                                
                {{ widget_forced('notifications_widget',{'width':3,'height':7,'disabled':false,'x':9,'y':45})|raw }}                                
                {{ widget_forced('comments',{'width':3,'height':14,'disabled':false,'x':0,'y':22})|raw }}                                
            </div>                            
        {% endif %}
    </section>
{% endblock %} 
