{% extends 'antares/foundation::layouts.antares.main' %}
{% block sidebar_top_widgets %}

{% endblock %}    
{% block main_content %}
    <section class="main-content">
        {% include 'antares/foundation::components.messages'  %}                                    
        {% block content %}
        {% endblock %}                 
        {% if app('antares.ui-components.installed') %}            
            <div class="grid-stack">                
                {{ component_forced('user_details',{'width':2,'height':14,'disabled':false,'x':0,'y':0})|raw }}                        
                {{ component_forced('items_widget',{'width':7,'height':15,'disabled':false,'x':2,'y':0})|raw }}                                                        
                {{ component_forced('activity_logs',{'width':6,'height':15,'disabled':false,'x':0,'y':17})|raw }}                                        
                {{ component_forced('notifications_widget',{'width':3,'height':7,'disabled':false,'x':9,'y':0})|raw }}                                
                {{ component_forced('graph1',{'width':6,'height':15,'disabled':false,'x':7,'y':15})|raw }}                                        
            </div>                            
        {% endif %}
    </section>
{% endblock %} 
