{% if control.hasWrapper %}
<div {{ control.getWrapper|stringify }} >
    {% endif %}
    <div class="form-block" {{ orientation }}>
        <div {{ labelWrapper|stringify }}>
            {{ label|raw }}
        </div>
        <div {{ inputWrapper|stringify }}>
            <div class="input-field">
                {{ control.prependHtml|raw }}
                {{ input|raw }}
                {{ control.appendHtml|raw }}
            </div>
            {% if errors != null %}
                <span id="{{ control.id }}_error" class="error col-13 col-mb-11">
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            </span>
            {% endif %}
        </div>
    </div>
    {% if control.hasWrapper %}
</div>
{% endif %}