{{ Form.open(form)|raw }}
{% if(token) %}
    {{ Form.token() }}
{% endif %}    
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}
<div class="col-group">    
    <div class="col-mb-24">
        <fieldset name="inputs">
            <div class="col-group">
                {% if fieldsets[0].name|length>0 %}
                    <legend>{{ fieldsets[0].legend }}</legend>
                {% endif %}
                {% for control in fieldsets[0].controls() %}                                                
                    <div class="col-group">
                        <div class="form-block">
                            {% include 'antares/foundation::layouts.antares.partials.form.vertical._'~control.type|replace({':': '_'}) with {control: control} %}                            
                        </div>
                    </div>
                {%endfor %}
            </div>
        </fieldset>
        {% for number,fieldset in fieldsets.except_by_key('name',['info','logo','colors','text-color-main','text-color-secondary','text-color-background']) %}
            <fieldset>
                {% if fieldset.name|length>0 %}
                    <legend>{{ fieldset.legend }}</legend>
                {% endif %}
                {% for control in fieldset.controls() %}                
                    <div class="col-group">
                        <div class="form-block">
                            {% include 'antares/foundation::layouts.antares.partials.form.vertical._'~control.type|replace({':': '_'}) with {control: control} %}                            
                        </div>
                    </div>
                {%endfor %}
            </fieldset>
        {% endfor %}
        {{ fieldsets.by('name','logo').render(row)|raw }}
        <fieldset name="{{ fieldsets[2].attributes.name }}">
            <legend>{{ fieldsets[2].legend }}</legend>
            <div class="color-pickers">
                <div class="col-group">
                    <div class="col-16">
                        <div class="cp-row mb16">
                            {% for fieldset in fieldsets.by('name','colors') %}             
                                {{ fieldset.render(row)|raw }}                    
                            {%endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-group">
                    <div class="col-16">
                        <div class="cp-row">
                            {{ fieldsets.by('name','text-color-main').render(row)|raw }}
                            {{ fieldsets.by('name','text-color-secondary').render(row)|raw }}
                            {{ fieldsets.by('name','text-color-background').render(row)|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>    
    <div class="col-mb-24">
        <div class="app-content__footer">
            <div class="btn-group">
                {% for button in buttons %}
                    {{ button.getField(row, button, [])|raw }}
                {% endfor %}                    
            </div>
        </div>
    </div>
</div>

{{ Form.close()|raw }}
