<div class="col-16 mb2">
    <label class="form-block__name">{{ field.label|raw }}</label>    
</div>
<div class="col-16">
    <div class="form-block">
        <div class="input-field">            
            <div id="{{ id }}" class="dropzone dropzone-form brand-logo" >
                <div class="dz-message" data-dz-message>
                    <div class="dz-m__current" >
                        <img height="80" src="{{ profile_picture(auth_user().email,80,80) }}" />
                    </div>
                    <div class="dz-m__header"  ><i class="zmdi zmdi-wallpaper"></i></div>
                    <div class="dz-m__content" >
                        <span>Drag &amp; drop,</span>
                        <span>or click to upload</span>
                    </div>
                </div>            
            </div>
            {{ input|raw }}            
        </div>    
    </div>
</div>   
{% if user_meta('picture') is not null %}
    <div class="col-16 mb2">
        <label class="form-block__name">
            <a href="{{ handles('antares/foundation::account/gravatar') }}" class="user-use-gravatar">{{ trans('antares/foundation::messages.use_gravatar') }}</a>
        </label>    
    </div>        
{% endif %}

