<div class="col-group">
    <div class="{{ control.getLabelWrapper('class')|default('col-mb-8 col-6 col-dt-4 col-ld-3') }}">
        <label class="form-block__name">{{ field.label|raw }}</label>
    </div>
    <div class="{{ control.getWrapper('class')|default('col-mb-16 col-18 col-dt-10 col-ld-4') }}">
        <div class="input-field {{ control.get('fieldClass')|raw }}">
            <div id="{{ id }}" class="dropzone dropzone-form brand-logo" >
                <div class="dz-message" data-dz-message>
                    <div class="dz-m__current" >
                        <img height="80" src="{{ profile_picture(auth_user().email,80,80) }}" />
                    </div>
                    <div class="dz-m__header"  ><i class="zmdi zmdi-wallpaper"></i></div>
                    <div class="dz-m__content" >
                        <span>Drag &amp; drop,</span>
                        <span>or click to upload</span>
                    </div>
                </div>            
            </div>
            {{ input|raw }}               
        </div>
    </div>
</div>
{% if user_meta('picture') is not null %}
    <div class="col-group">     
        <div class="col-mb-8 col-6 col-dt-4 col-ld-3"></div>
        <div class="col-mb-16 col-18 col-dt-10 col-ld-4">
            <a href="{{ handles('antares/foundation::account/gravatar') }}" class="user-use-gravatar">{{ trans('antares/foundation::messages.use_gravatar') }}</a>
        </div>        
    </div>
{% endif %}

