<div class="type--contact flex-block">
    <div class="avatar avatar--active avatar--xs">
        <img width="40" height="40"  src="{{ profile_picture(email) }}" /><div></div>            
    </div>
    <div class="flex-block__content">
        <span class="flex-block__title">#{{ id }}, {{ fullname|raw }}</span>
        <div class="flex-block__desc">{{ email|raw }}</div>
    </div>
    <div class="flex-block__badge">
        {{ status|raw }}
    </div>
</div>